body {
  height: 100vh;
  display: grid;
  grid-template: minmax(200px, 20%) 1fr 50px / minmax(200px, 1fr) 4fr;

  grid-template-areas:  "sidebar header"
                        "sidebar main"
                        "sidebar footer"
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(69, 144, 206);
  color: white;
}

.main {
  grid-area: main;
  background-color: rgb(227, 232, 239);
}

.footer {
  grid-area: footer;
  background-color: rgb(37, 57, 133);
}